icons/Nezuko-Icons/png-fallbacks
*.png
!look-and-feel/org.kde.nezuko/contents/splash/images/background.png
!screenshot.png
!look-and-feel/org.kde.nezuko/contents/previews/preview.png
!background.png
nezuko-splash/build