[Desktop Entry]
Name=Nezuko-Plasma
Comment=Nezuko Kamado inspired frosted glass KDE Plasma theme
X-KDE-PluginInfo-Author=Peter Njoroge Chege
X-KDE-PluginInfo-Email=peterchegen12@gmail.com
X-KDE-PluginInfo-Name=Nezuko-Plasma
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/peter-njoro/nezuko-plasma
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=Plasma/Theme
