[Desktop Entry]
Name=Nezuko
Comment=Nezuko global look-and-feel theme
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-PluginInfo-Author=Peter Njoroge Chege
X-KDE-PluginInfo-Email=peterchegen12@gmail.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/peter-njoro/nezuko-plasma
X-KDE-PluginInfo-Category=LookAndFeel
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.nezuko.desktop

[LookAndFeel]
# References to your custom components
CursorTheme=Nezuko-Cursors
IconTheme=Nezuko-Icons
PlasmaTheme=Nezuko-Plasma
